* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  --black: #2e2e2e;
  --gray: #bfbfbf;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #242424;
}

header {
  width: 100%;
  height: 14rem;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  max-width: 35rem;
  margin: -7rem auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infos {
  margin: 1.6rem 0 0 0;
}

.infos h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

.icon {
  border: 8px solid #242424;
  width:17.5em; 
  height:17.5em;
  text-align: center;
  border-radius: 100%;
  margin: 0 auto 20px;
  overflow: hidden;
}

.icon img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.links {
  margin-top: 4.0rem;
}

.link {
  width: 28rem;
  height: 6.2rem;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  border-radius: 0.4rem;
  background-color: var(--black);
  border: var(--black) solid 0.1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: 0.5s ease;
}

.link:hover {
  opacity: 0.8;
  border: #ffffff solid 0.1rem;
}

.link a {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  padding: 1.5rem 3rem;
}

.link .link-icon {
  width: 7.6rem;
  margin-right: 2rem;
}

.link .link-icon img {
  margin-left: 2.4rem;
}

.link .link-nome {
  text-align: center;
  width: 10rem;
}

.button{
  appearance: button;
  backface-visibility: hidden;
  border-width: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  line-height: 1.15;
  display: block;
  align-items: center;
  margin: 12px 0 5;
  outline: none;
  border-radius: 0.4rem;
  background-color: var(--black);
  border: var(--black) solid 0.1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: 0.5s ease;
  width: 25rem;
  height: 5.5rem;
}

.button:hover {
  opacity: 0.8;
  border: #ffffff solid 0.1rem;
}

.button a {
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1.5rem 3rem;
}







