.at-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

  .at-grid[data-column="1"] .at-column {
    width: 25%;
    max-width: 25%;
    min-width: 25%;
    flex-basis: 25%;
  }

.at-column {
  z-index: 0;
  position: relative;
  background: #000000;
  padding: 10px;
  box-sizing: border-box;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
}
.at-title{
margin: 0 0 70px;
color: rgb(255, 255, 255);
font-familiy: "roboto", sans-serif;
font-size: 3.5rem;
font-weight: 300;
line-height: 2.500rem;
text-align: center;
}
.at-column:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.at-column:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
}
.at-column:hover .at-social {
  margin: 16px 0 0;
  opacity: 1;
}
@media (max-width: 800px) {
  .at-column {
    width: 50% !important;
    max-width: 50% !important;
    min-width: 50% !important;
    flex-basis: 50% !important;
  }
}
@media (max-width: 600px) {
  .at-column {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    flex-basis: 100% !important;
  }
}
.at-user {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translate(0, -50%);
  text-align: center;
}
  .at-user__avatar {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    margin: 0 auto 20px;
    overflow: hidden;
}
.at-user__avatar img {
  display: block;
  width: 100%;
  max-width: 100%;
}
.at-user__name {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.625rem;
}

body {
  background: #000000;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 100px auto;
  padding: 0 55px;
  box-sizing: border-box;
  transform-origin: top center;
    transform: scale(0.8);
}

.button{
	background-color:#000000;
	border-radius:17px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
  color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:12px 20px;
	text-decoration:none;
}

.button:hover {
  opacity: 0.8;
	background-color:#919191;
}

