.aligncenter {
    text-align: center;
}

.icon {
  border: 8px solid #242424;
  width:20.5em; 
  height:14.5em;
  text-align: center;
  margin: 0 auto 20px;
  overflow: hidden;
}

.icon img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.card {
  max-width: 60rem;
  margin: 7rem auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #242424;
}

.button{
  appearance: button;
  backface-visibility: hidden;
  border-width: 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  line-height: 1.15;
  display: block;
  align-items: center;
  margin: 12px 0 0;
  outline: none;
  border-radius: 0.4rem;
  background-color: #2e2e2e;
  border: var(--black) solid 0.1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: 0.5s ease;
  width: 12rem;
  height: 4.2rem;
}

.button:hover {
  opacity: 0.8;
  border: #ffffff solid 0.1rem;
}

.button a {
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1.5rem 3rem;
}

.title{
margin: 0 0 40px;
color: rgb(255, 255, 255);
font-familiy: "roboto", sans-serif;
font-size: 2.5rem;
font-weight: 300;
line-height: 2.500rem;
text-align: center;
}
